/*通用内容页样式*/
.common-page
{
  padding: 10px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.common-page:after
{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: '';
}

.common-page
{
  zoom: 1;
}

/*对话框*/
.dialog-mask
{
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: .3;
  background: #000;

  filter: alpha(opacity=30);
}


.dialog
{
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  font-family: '微软雅黑';
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  border-radius: 6px;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

/*.dialog {
    -ms-filter:"progid:DXImageTransform.Microsoft
    .Shadow(color=#eeeeee,direction=0,strength=6) 
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=90,strength=10) 
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=10) 
    progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=6)";
    *filter: 
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=0,strength=6)
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=90,strength=10)
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=10)
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=270,strength=6);
}*/

.dialog-dashed
{
  position: absolute;
  z-index: 9999999;
  border: #222 1px dashed;
  border-radius: 6px;
}


.dialog h2
{
  margin: 0;
  padding: 4px 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-bottom: #e5e5e5 1px solid;
  cursor: move;
  text-align: left;
  border-radius: 6px 6px 0 0;
  background: #fff;
}

.dialog .dialog-content
{
  padding: 15px 10px;
  min-height: 50px;
  font-size: 14px;
  overflow: auto;
  background: #fff;
}

.dialog .dialog-foot
{
  padding: 10px 0;
  border-top: #e5e5e5 1px solid;
  text-align: right;
  border-radius: 0 0 6px 6px;
  background: #fff;
}

.dialog .dialog-head
{
  border-bottom: solid 1px #ddd;
  border-radius: 4px 4px 0 0;
}

.dialog .dialog-head strong
{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.dialog .dialog-head .close
{
  float: right;
  line-height: 24px;
}

.dialog .dialog-body
{
  padding: 15px 20px;
}


.dialog.open
{
  display: block;
}


/*loading*/
.loading-layer
{
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.loading-mask
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: .3;
  background: #000;

  filter: alpha(opacity=30);
}

.loading-tips
{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -100px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, .2);
  text-align: center;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}


/*按钮*/
.none.button
{
  display: none;
}

.button
{
  display: inline-block;
  padding: 2px 10px;
  line-height: 20px;
  font-family: '微软雅黑';
  font-size: 14px;
  border: solid 1px #ddd;
  border-radius: 4px;
  outline: none;
  background: transparent;

  *padding: 2px 3px;
  *line-height: 20px;
  *height: 26px;
  *overflow: hidden;
}

.button[disabled]
{
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
  box-shadow: none;

  webkit-box-shadow: none;
  filter: alpha(opacity=50);
}

.button:active
{
  transition: all .3s cubic-bezier(.175, .885, .32, 1) 0s;
  outline: 0;
  background-image: none;
}

.button:hover
{
  transition: all .3s cubic-bezier(.175, .885, .32, 1) 0s;
}

.button-block
{
  display: block;
  width: 100%;
}

.button-large
{
  padding: 15px 20px;
  line-height: 24px;
  font-size: 24px;
}

.button-big
{
  padding: 10px 15px;
  line-height: 22px;
  font-size: 18px;
}

.button-small
{
  padding: 5px 10px;
  line-height: 18px;
  font-size: 12px;
  font-weight: normal;
}

.button-little
{
  padding: 3px 5px;
  line-height: 16px;
  font-size: 12px;
  font-weight: normal;
}

.button.bg-red,
.button.bg-green,
.button.bg-orange,
.button.bg-blue
{
  color: #fff;
}

/*button 颜色伪类效果*/
.button.bg:hover,
.button.border:hover
{
  color: #333;
  border-color: #ccc;
  background-color: #f3f3f3;
}

.button.bg-red:hover,
.button.border-red:hover
{
  color: #fff;
  border-color: #c62b26;
  background-color: #c62b26;
}

.button.bg-green:hover,
.button.border-green:hover
{
  color: #fff;
  border-color: #3db576;
  background-color: #3db576;
}

.button.bg-orange:hover,
.button.border-orange:hover
{
  color: #fff;
  border-color: #e0690c;
  background-color: #e0690c;
}

.button.bg-blue:hover,
.button.border-blue:hover
{
  color: #fff;
  border-color: #2f8dc7;
  background-color: #2f8dc7;
}

/*文本框*/
input,
select
{
  outline: none;
}

select
{
  padding: 3px;
  border: solid 1px #ddd;
  border-radius: 2px;
  background: #fff;
}

input[type='text'],
input[type='password']
{
  display: inline-block;
  padding: 4px;
  border: solid 1px #ddd;
  border-radius: 2px;
  background-color: #f7f7f7;
}

select
{
  width: 180px;
}

input[type='text']:focus
{
  border-color: #ccc;
}

input[type='text'].readonly
{
  background-color: #e9e9e9;
}

/*面包屑*/
.bread
{
  position: relative;
  z-index: 9999999999;
  width: 100%;
  height: 51px;
  line-height: 50px;
  font-size: 16px;
  color: #333;
  border-bottom: #dd514c 1px solid;
  background: #fff;
}

.bread:after
{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: '';
}

.bread
{
  zoom: 1;
}

.bread .bread-tit
{
  float: left;
  padding: 0 20px;
  line-height: 50px;
  border-bottom: #dd514c 1px solid;
}


/*搜索页*/
.search th,
.search td,
.search a,
.search button,
.search button
{
  line-height: 32px;
  font-family: '微软雅黑';
  font-size: 14px;
  color: #333;
}

.search
{
  position: relative;
  padding: 10px;
  border: #e6e6e6 1px solid;
  background: #fff;
}

.search .more
{
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 -26px -32px;
  width: 64px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #666;
  border: #e6e6e6 1px solid;
  cursor: pointer;
  text-align: center;
  background: #ededed;
}

.search table th,
.search table td
{
  line-height: 36px;
}

.search table
{
  width: 100%;
}

.search th
{
  padding-right: 5px;
  width: 90px;
  text-align: right;
}

.search td
{
  padding: 0 4px;
}

.search td input[type='text']
{
  width: 85%;
  min-width: 80px;
  border: #e6e6e6 1px solid;
  border-radius: 2px;
}

.search td select
{
  width: 87%;
  min-width: 90px;
  border: #e6e6e6 1px solid;
  border-radius: 2px;
}

.search .opt-th
{
  width: 0;
}
.search .opt-td
{
  width: 140px;
}

/*选项标签*/
.tabs a
{
  font-family: '微软雅黑';
  font-size: 14px;
}

.tabs
{
  padding: 10px;
  background: #fff;
}

.tabs .tab-tools
{
  line-height: 37px;
}

.tabs .tab-head
{
  padding: 8px 20px 0 0;
  line-height: 20px;
  zoom: 1;
}

.tabs .tab-head:after
{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: '';
}

.tabs .tab-head strong
{
  float: left;
  padding: 8px 20px 0 0;
  line-height: 20px;
}

.tabs .tab-more
{
  float: right;
  margin: 10px 0 0 10px;
  font-size: 12px;
}

.tabs .tab-nav
{
  float: left;
  list-style: none;
}

.tabs .tab-nav li
{
  float: left;
  margin-right: -1px;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.tabs .tab-nav li a
{
  display: block;
  padding: 8px 20px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  border: solid 1px #ddd;
  background: #f7f7f7;
}

.tabs .tab-nav .active
{
  position: relative;
  background-color: #fff;
}

.tabs .tab-nav .active a
{
  color: #333;
  border-bottom-color: #fff;
  cursor: default;
  background-color: #fff;
}

.tabs .tab-nav li a span
{
  font-weight: normal;
  color: red;
}

.tabs .tab-nav .active a span
{
  color: #fff7c2;
}

.tabs .tab-body
{
  margin-top: -1px;
  padding: 15px 0;
  border-top: solid 1px #ddd;
}

.tabs .tab-body-bordered
{
  padding: 15px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

.tabs .tab-body .panel
{
  display: none;
}

.tabs .tab-body .active
{
  display: block;
}

.tabs.tab-small strong
{
  padding-top: 3px;
}

.tabs.tab-small .tab-more
{
  margin: 5px 0 0 10px;
}

.tabs.tab-small li a
{
  padding: 3px 10px;
}

/*分页*/
.page
{
  height: 40px;
  line-height: 40px;
  text-align: right;
}

.page span,
.page a
{
  padding: 5px 10px;
  font-family: '微软雅黑';
  font-size: 12px;
  color: #666;
  border: #ddd 1px solid;
  border-radius: 4px;
  background: #fff;
}

.page .disabled
{
  color: #999;
  cursor: default;
  background-color: #eee;
}

.page .pageCssDefault
{
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.page .pageCssDefault span,
.pageCssDefault a
{
  display: inline-block;
  float: left;
  margin-left: 5px;
  padding: 2px 8px;
  height: 20px;
  line-height: 20px;
  font-family: '微软雅黑';
  font-size: 12px;
  color: #666;
  border: #ddd 1px solid;
  border-radius: 4px;
  background: #fff;
}

.page .pageCssDefault .current
{
  color: #fff;
  border: #4ec3ca 1px solid;
  background: #4ec3ca;
}

.page .pageCssDefault .disabled
{
  color: #aaa;
  background: #eee;
}


/*颜色*/
.bg
{
  background-color: #f5f5f5;
}

.border
{
  background-color: #f5f5f5;
}

.red
{
  color: #dd514c;
}
.green
{
    color: #67c895;
}

.white
{
    color: #fff;
}

.bg-red,
.border-red .button.active,
.style-red .com-tit .active,
.style-red .page a.active,
.style-red .page span.active
{
  background-color: #dd514c;
}

.bg-gray,
.border-gray .button.active,
.style-gray .com-tit .active,
.style-gray .page a.active,
.style-gray .page span.active
{
  background-color: #666;
  border-color: #666;
  color: white;
}

.button.bg-gray:hover,
.button.border-gray:hover
{
  color: #fff;
  border-color: #999;
  background-color: #999;
}


.border-red,
.border-red .button,
.style-red .tabs .tab-body,
.button.bg-red,
.selected.border-red,
.style-red select:focus,
.style-red input[type='text']:focus,
.style-red .page a.active,
.style-red .page span.active
{
  border-color: #dd514c;
}

.style-red .page a:hover
{
  color: #c62b26;
}


.bg-green,
.border-green .button.active,
.style-green .com-tit .active,
.style-green .page a.active,
.style-green .page span.active
{
  background-color: #67c895;
}

.border-green,
.border-green .button,
.button.bg-green,
.selected.border-green,
.style-green select:focus,
.style-green input[type='text']:focus,
.style-green .page a.active,
.style-green .page span.active
{
  border-color: #67c895;
}

.style-green .page a:hover
{
  color: #67c895;
}



.bg-orange,
.border-orange .button.active,
.style-orange .page a.active,
.style-orange .page span.active
{
  background-color: #f37b1d;
}

.border-orange,
.border-orange .button,
.button.bg-orange,
.selected.border-orange,
.style-orange select:focus,
.style-orange input[type='text']:focus,
.style-orange .page a.active,
.style-orange .page span.active
{
  border-color: #f37b1d;
}

.style-orange .page a:hover
{
  color: #fb6e52;
}

.bg-blue,
.border-blue .button.active,
.style-blue .page a.active,
.style-blue .page span.active
{
  background-color: #43a5e1;
}

.border-blue,
.border-blue .button,
.button.bg-blue,
.selected.border-blue,
.style-blue select:focus,
.style-blue input[type='text']:focus,
.style-blue .page a.active,
.style-blue .page span.active
{
  border-color: #43a5e1;
}

.style-blue .page a:hover
{
  color: #43a5e1;
}

.style-red .page a.active,
.style-red .page span.active,
.style-green .page a.active,
.style-green .page span.active,
.style-orange .page a.active,
.style-orange .page span.active,
.style-blue .page a.active,
.style-blue .page span.active
{
  color: #fff;
}

/*列表样式*/
.com-list li
{
  height: 34px;
  line-height: 34px;
  zoom: 1;
}

.com-list li:after
{
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: '';
}

.com-list label
{
  float: left;
  padding-right: 10px;
  width: 120px;
  font-size: 14px;
  color: #666;
  text-align: right;
}

.com-list label.tl
{
  padding: 0 5px;
  width: auto;
  text-align: left;
}

.com-list label.tl input
{
  margin: -2px 5px 0 0;
}

.req
{
  padding: 0 4px;
  line-height: 100%;
  font-size: 12px;
  color: red;
}

/*提示*/
.error-tips
{
  display: inline-block;
  margin-left: 10px;
  padding: 4px 8px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #f00;
  border: 1px solid #ffbdbe;
  background: #ffebeb;
}

.err-border
{
  border-color: #f00 !important;
}

/*标题样式*/
.com-tit
{
  display: block;
  margin-bottom: 10px;
  padding-left: 20px;
  border-bottom: #ddd 1px solid;
}

.com-tit-text
{
  display: inline-block;
  margin-bottom: -1px;
  padding: 6px 14px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  border: #ddd 1px solid;
  border-bottom: none;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background: #fff;
}

/*内容容器*/

.tools
{
  line-height: 26px;
}

.all-operation
{
  float: left;
  padding-right: 10px;
  line-height: 26px;
  font-size: 12px;
}

.all-operation input
{
  margin: -1px 5px 0 5px;
}

/*表格样式*/
.table table
{
  width: 100%;
  font-family: '微软雅黑';
  font-size: 14px;
}

.table table a
{
  color: #113eaa;
}

.table table a:hover
{
  color: #fe8503;
}

.bg-hover tr:hover td
{
  background: #e3f1fa;
}

.table .check
{
  width: 24px;
  text-align: center;
}

.table thead th
{
  padding: 0 8px;
  height: 34px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  border: #a1a1a1 1px solid;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #b3b3b3;
}

.table tbody td
{
  padding: 4px;
  line-height: 24px;
  font-size: 14px;
  color: #333;
  border: #e6e6e6 1px solid;
  background: #fff;
}


.table tbody th a
{
  font-size: 12px;
}

.table tbody th a:hover
{
  text-decoration: underline;
}


/*错误提示*/
.err-tips
{
  position: absolute;
  padding: 4px 8px;
  line-height: 18px;
  font-size: 12px;
  color: #473300;
  border: #ffdf69 1px solid;
  border-radius: 5px;
  background: #fff2c4;
}

.t-icon
{
  float: left;
  margin: 2px 2px 0 0;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-family: 'Arial';
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  overflow: hidden;
  cursor: inherit;
  text-align: center;
  background-color: #d9534f;
}


/*列表样式*/
.common-list
{
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #666;
  border: #e6e6e6 1px solid;
  overflow: hidden;
  background-color: #fff;
}

.common-list li
{
  padding-bottom: 10px;
  line-height: 24px;
  overflow: hidden;
}

.common-list li b
{
  float: left;
  padding-right: 10px;
  width: 120px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  text-align: right;
}

.common-list .tips
{
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}

/*通用导航条*/
.common-nav
{
  position: relative;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  border: #e6e6e6 1px solid;
  background-color: #f9f9f9;
}

.common-nav a
{
  float: left;
  padding: 0 20px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color:#333;
  border-right: #e6e6e6 1px solid;
}

.common-nav .active
{
  background-color: #43a5e1;
  color: #fff;
}



/*列表样式*/
.formlist .list
{
  position: relative;
  padding-bottom: 20px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  background-color: #fff;
}
.formlist .list b
{
  float: left;
  padding-right: 10px;
  width: 120px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  text-align: right;
}
.formlist .list li
{
  padding-bottom: 10px;
  line-height: 24px;
  overflow: hidden;
}
.formlist .list .tips
{
  margin-left: 10px;
  font-size: 14px;
  color: #999;
}

/*双列表样式*/
.dblist .db-content
{
  overflow: hidden;
}
.dblist .userlist
{
  float: left;
  width: 290px;
  overflow: hidden;
}
.dblist .userlist ul
{
  height: 300px;
  border-bottom: #ddd 1px solid;
  overflow: auto;
  background: #f7f7f7;
}

/*步骤流程*/
.steps
{
  position: relative;
  margin: 10px 0;
  padding-bottom: 2px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}
.steps li
{
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-right: 46px;
  padding: 0 4px;
  width: auto;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  background: #fff;
}
.steps .line
{
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dd514c;
}
.steps .steps-icon
{
  float: left;
  margin: 4px 4px 0 0;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #dd514c;
  border: #dd514c 2px solid;
  text-align: center;
  border-radius: 17px;
  background: #fff;
}
.steps .steps-icon.active
{
  color: #fff;
  background: #dd514c;
}

/*侧边栏*/
.sidebar
{
  position: fixed;
  z-index: 999;
  right: 0;
}

.sidebar-btn
{
  float: left;
  margin-left: -30px;
  padding: 14px 5px;
  width: 20px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  opacity: .3;
  background: #000;

  filter: alpha(opacity=30);
}

.sidebar-btn:hover
{
  opacity: 1;
  background: #43a5e1;

  filter: alpha(opacity=100);
}

.sidebar-cnt
{
  float: left;
  overflow: hidden;
  background: red;
}
